mixin arrow
    path(d="M4 847c162,-337 494,-572 843,-572 349,0 709,263 843,572")
    polyline(points="1685,730 1685,837 1598,779 ")

p.contExample
    a#exampleNum1
    a  + 
    a#exampleNum2
    a  = ?
    input#input3(type="number" min="1" max="20" )

.line
    #image
        svg#arrow1(viewBox="0 0 1693 857")
            +arrow
        input#input1(type="number" min="1" max="9")
        svg#arrow2(viewBox="0 0 1693 857")
            +arrow
        input#input2(type="number" min="1" max="9")

input#but(type="button" onclick="startGame()" value="начать сначала")