mixin arrow
    path.path(d="M5 1000c191,-398 583,-675 995,-675 412,0 838,310 996,675")
    path.path1(d="M1990 863c0,42 0,84 0,126l-103 -69")

p.contExample
    a#exampleNum1
    a  + 
    a#exampleNum2
    a  = ?
    input#input3(type="number" min="1" max="20")

.line
    #image
        svg#arrow1(viewBox="0 0 2000 1000")
            +arrow
        input#input1(type="number" min="1" max="9")
        svg#arrow2(viewBox="0 0 2000 1000")
            +arrow
        input#input2(type="number" min="1" max="9")

input#but(type="button" onclick="startGame()" value="начать сначала")